
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 100;
    }
  
    100% {
      opacity: 0;
    }
  }


  @keyframes fadeOutInOut {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 100;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .ani-fadeIn-fast {
    animation: fadeIn 1s ease-in-out;
  }
  
  .ani-fadeIn {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .ani-fadeOutInOut {
    animation: fadeOutInOut 4s linear infinite;
  }
  
  .ani-fadeOut {
    animation: fadeOut 1.5s ease-out;
  }
  
  @keyframes ani-bounce {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(9rem);
      opacity: 0;
    }
  }
  
  .arrow-container {
    animation: ani-bounce 1.3s infinite;
  }