/* @import './base.css'; */
@import './font.css';

* {
  padding: 0;
  margin: 0;
}

.size100 {
  width: 100vw;
  height: 100vh;
}

.mainBgColor {
  background-color: #000;
}

.body {
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  font-size: 15px;
}

img {
  width: 100%;
  height: 100%;
}

.p-relative {
  position: relative;
}

/* 定义实现模糊效果的类名 */
.filter {
  filter: blur(15px);
  -webkit-filter: blur(15px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

.ani-fadeIn {
  animation: fadeIn 1.5s ease-in-out;
}

.ani-fadeOut {
  animation: fadeOut 1s ease-out;
}

@keyframes ani-bounce {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(9rem);
    opacity: 0;
  }
}

.arrow-container {
  animation: ani-bounce 1.3s infinite;
}
